<ion-header class="header" no-border>
  <ion-toolbar class="header">
    <ion-title>
      <h4 float-left class="header-title">ADD PRAYER</h4>
      <!-- <button class="button-circle" float-right (click)="close()"><ion-icon name="close-circle"></ion-icon></button> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-textarea class="prayer-post" [(ngModel)]="newPrayer" placeholder="기도제목을 넣어주세요"></ion-textarea>  
</ion-content>
<ion-footer class="thefooter">
  <button (click)="close()">
      CLOSE
  </button>  
  <button (click)="onEnter()">
    ADD
  </button>
</ion-footer>  